body {
	font-family: 'Roboto', sans-serif;
}
ul {
	list-style: none;
}
div {
	box-sizing: border-box;
}
header {
	background: url(../img/main.png) no-repeat center top / cover;
	height: 100vh;
}
section:nth-child(odd) {
	background: #f7f7f7;
}

.top-container {
	height: 100px;
	background-color: rgba(1,1, 1, 0.25);
}
.container {
	margin: 0 auto;
	width: 930px;
}
.clearfix {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
.logo {
	font-family: 'Pacifico', cursive;
	float: left;
	margin-top: 35px;
	max-width: 80px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
nav {
	color: white;		
	float: right;
	margin-top: 45px;
}
.nav-menu {
	padding: 0;
	margin: 0;
	display: block;
}
.nav-menu li {
	margin-right: 40px;
	float: left;
	display: block;
}
.nav-menu a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.titles {
	color: white;
	margin-top: 150px;
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}
.titles__first {
	margin-top: 30vh;
}
.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	margin-top: 80px;
}
.main-container {
	padding: 80px 0;
}
.title h2 {
	margin: 0;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
}
.ican {
	margin-top: 30px;
	display: flex;	
	justify-content: space-between;
}
.ican__item {
	width: 270px;
	float: left;
	text-align: center;
}
.ican__item-img {
	max-height: 120px;
	max-width: 120px;
}
.ican__item h3 {
	font-size: 18px;
	margin-bottom: 10px;
}
.ican__item p {
	color: #777777;
	font-size: 14px;
	line-height: 1.5em;
}
.slider-wrapper{
	width: 100%;
	margin: 0 auto;
}
.slider-container{
	overflow: hidden;
	background-color: pink;
}
.slider-track {
	display: flex;
	background-color: yellow;
}
.slider-item {
	height: 300px;	
	min-width: 200px;	
}
.slider-item:nth-child(3n+1) {
	background-color: red;
}.slider-item:nth-child(3n+2) {
	background-color: green;
}.slider-item:nth-child(3n+3) {
	background-color: blue;
}
.slider-buttons {
	text-align: center;
}
.btn-back, .btn-next {
	margin-top: 15px;
	cursor: pointer;
}
.event-container {
	width: 900px;
	height: 80px;
	margin: 0;
    display: block;
    padding: 12px 35px 12px 12px;
    border-top: 1px solid #ebedee;
    position: relative;
}
.event-date {
	float: left;
}
.event-date__day {
	margin: 0;
	font-size: 50px;
}
.event-date__month {
	margin: 0;
	font-size: 25px;
}
.event-info {
	text-align: left;
	float: right;
	width: 700px;
}
.event-info p, h2 {
    padding: 1px;
    margin: 0;    
}

.form-container {
	margin-top: 80px;
}
.form {
	cursor: pointer;
	width: 25%;
	margin-right: 10px;
	border: none;
	border-radius: 5px;
	padding: 10px 30px;
}
footer {
	width: 100%;
	background-color: black;
	padding: 25px 0 ;
	color: white;
	text-align: center;
}
.footer-text {
	widows: 50%;
	text-align: center;
}
.error-text {
    color:red;
}
/*Кнопка наверх*/
.scroll-up {
	opacity: 0.2;
	position: fixed;
	right: 50px;
	bottom: 70px;
	z-index: 100;
	padding: 5px 5px;
	border-radius: 5px;
	border: 1px solid green;	
	cursor: pointer;
	text-align: center;
	background: #fed136;
	color: #484543;
	visibility: hidden;
	transition: .2s;
	transform: translateY(25px);
}
.scroll-up a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
.scroll-up:hover {
	opacity: 1;
}

.scroll-up-active {
	visibility: visible;
	transform: translateX(0);
}

/*Слайдер*/
.slider-wrapper{
	max-width: 950px;

}
.slider{
    max-width: 100%;
    position: relative;
    margin: auto;
    height: 500px;
}

.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
/*Модальное окно*/
.modal-window {
	background-color: rgba(215, 215,225, 0.9);
	z-index: 1000;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	display:none;
}
.modal-dialog {
	text-align: center;
	margin: 0 auto;
 	width: 300px;
 	height: 300px;
}
.modal-content {
	margin-top: 50%;
}
.modal-img {
    margin-top: 40px;
}