html {
	scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
	font-family: 'Roboto', sans-serif;
}
ul {
	list-style: none;
}
div {
	box-sizing: border-box;
}
header {
	background: url(../img/main.png) no-repeat center top / cover;
	height: 100vh;
}
section:nth-child(odd) {
	background: #f7f7f7;
}
.top-container {
	height: 100px;
	background-color: rgba(1,1, 1, 0.25);
}
.container {
	margin: 0 auto;
	width: 930px;
}
.clearfix {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}/*Навигационная панель, логотип и "Главный экран"*/
.logo {
	font-family: 'Pacifico', cursive;
	float: left;
	margin-top: 29px;
	max-width: 80px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
nav {
	color: white;		
	float: right;
	margin-top: 45px;
}
.nav-menu {
	padding: 0;
	margin: 0;
	
}
.nav-menu li {
	margin-right: 40px;
	float: left;
}
.nav-menu a {
	font-size: 15px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.nav-menu a:hover {
	font-size: 16px;
}
.titles {
	color: white;
	margin-top: 150px;
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
}
.titles__first {
	margin-top: 30vh;
}
.button {
	cursor: pointer;
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	margin-top: 80px;
}
.main-container {
	padding: 80px 0;
}
.title h2 {
	margin: 0;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 25px;
}
.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
}
.form-container {
	margin-top: 80px;
}

/*О нас*/

.about-container {
	margin: 3% 5% 0 5%;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid rgba(189, 189, 189, 0.94);
}
.about-card {
	margin: 5px 0px;
	text-align: center;
}
.about-card__img, .about-card__name, .about-card__prof{
	-webkit-box-shadow: 0px 15px 47px -17px rgba(0,0,0,0.48);
	-moz-box-shadow: 0px 15px 47px -17px rgba(0,0,0,0.48);
	box-shadow: 0px 15px 47px -17px rgba(0,0,0,0.48);
}
.about-card__img {
	margin: 0 3px;
	max-width: 300px;
	height: 250px;
}
.about-card__prof {
	color: green;
}

/*Форма*/

.form {
	cursor: pointer;
	width: 25%;
	margin-right: 10px;
	border: 1px solid rgba(189, 189, 189, 0.94);
	border-radius: 5px;
	padding: 10px 30px;
}
.textarea {
    margin-top:3px;
    width: 91%;
}
footer {
	width: 100%;
	background-color: black;
	padding: 5px 0;
	color: white;
	text-align: center;
}
.footer-text {
	text-align: center;
}
.error-text {
    color:red;
}

/*Слайдер*/

.slider-wrapper{
	max-width: 950px;
}
.slider{
    max-width: 100%;
    position: relative;
    margin:  auto;
    height: 500px;
}
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}
.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s ease;
    border-radius: 2px;
}
.slider .next {
    right: 0;
    border-radius: 2px;
}
.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

/*Модальное окно после формы*/

.modal-window {
	background-color: rgba(189, 189, 189, 0.94);
	z-index: 1000;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid black;
	display: none;
		
}
.modal-dialog {
	text-align: center;
	margin: 0 auto;

 	width: 300px;
 	height: 100px;
}
.modal-content {
	text-align: center;
	margin-top: 30%;
	background-color: white;
	padding: 10px 0px;
}
.modal-img {
    margin-top: 60px;
}


/*Кнопка наверх*/

.scroll-up {
	position: fixed;
	right: 50px;
	bottom: 60px;
	z-index: 100;
	visibility: hidden;
	transition: .4s;
	transform: translateY(30px);
}
.scroll-up__button {
	font-size: 20px;
	cursor: pointer;
	padding: 12px 15px;
	border-radius: 50%;
	border: 1px solid black;	
	text-align: center;
	background: rgb(16, 134, 120);
	color: white;
	opacity: 0.3;
}
.scroll-up a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
.scroll-up__button:hover {
	opacity: 0.9;
}
.scroll-up-active {
	visibility: visible;
	transform: translateX(0);
}		

/*Календарь*/

.event-container {
	width: 900px;
	height: 80px;
	margin: 20px 0;
    display: block;
    padding: 12px 35px 12px 12px;
    border-top: 1px solid #ebedee;
    position: relative;
}
.event-date {
	float: left;
}
.event-date__day {
	margin: 0;
	font-size: 50px;
}
.event-date__month {
	margin: 0;
	font-size: 25px;
}
.event-info {
	text-align: left;
	float: right;
	width: 700px;
}
.event-info p, h2 {
    padding: 1px;
    margin: 0;    
}
.event-info__place {

}
.event-info__description{

}